<header>
  <nav>
    <div class="square"></div>
    <a class="name" href="/">Maya Nares</a>
    <span>/ GESTOR DE PROYECTO</span>
  </nav>
  <nav>
    <a href="/about">SOBRE MÍ</a>
    <a href="/curriculum">CURRICULUM</a>
    <a href="/projects">PROYECTOS</a>
    <a href="/contact">CONTACTO</a>
  </nav>
</header>


<style>
    header {
        display: flex;
        padding: 1.5rem 2.5rem; 
        justify-content: space-between;
        background-color: rgb(224, 214, 210);
    }

    nav {
        display: flex;
        gap: 1rem;
        align-items: center;
    }

    a {
        text-decoration: none;
    }

    .name {
        font-weight: bold;
        color: black; 
        font-size: 1.2rem;
    }

    span {
        color: grey; 
        font-size: 0.8rem;
    }

    .square {
        width: 0.7rem; 
        height: 0.7rem;
        background-color: green;
    }
</style>